/*Coded by Rosemary Canon*/
#root {
  width: 30vw;
  height: auto;
  border-radius: 25px;
  background-color: #fff3b2;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}
